<a href="/">Loan Request</a>

<div class="loan_form">
  <%= form_for @loan, url: '/' do |f| %>
    <span style="color: #FF8000;"><%= @loan.error_notification %></span>
    <span style="color: #008080;"><%= @loan.message %>           </span>

    <%= f.input :name %>
    <%= f.input :mailing_address %>
    <%= f.input :annual_income %>
    <%= f.input :requested_loan_amount %>

    <%= f.button :submit, id: "submit", class: "btn-primary" %>
  <% end %>
</div>

<script type="text/javascript">
    $( "#submit" ).on( "click", function()
    {
    } );
</script>
